.common-button {
    color: #FFFFFF;
    background-color: #E76F51;
    font-size: 1.25vw;
}

.banner-image {
    background-image: linear-gradient(to right, rgba(63, 64, 70, 0.541), rgba(59, 47, 47, 0.708)), url("../images/others/latest3.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}